{:name "API DevTalks 5.0"
 :event "Conférences"
 :type "Conference"
 :location "Haute école de gestion Arc – Auditorium 030 – Rez-de-chaussée"
 :location-url ""
 :date "jeudi 18 novembre 2021"
 :hour "18h00"
 :description "Après une période d'inactivité marquée par le Covid, nous sommes enfin de retour pour vous proposer une nouvelle soirée API DevTalks.

Nous débuterons la soirée avec Helisoa Randrianasolo, victorieuse du Prix API lors de la poster session (présentation de poster décrivant le travail de bachelor). Par la suite, Robin Wyss de Dynatrace nous parlera du projet Keptn relatif au Continuous Delivery. Vincent Bozzo nous présentera son entreprise Matchmore SA, au travers de son service de Geomatching. Finalement, Ivan Mariblanca Flinch nous parlera de digilisation et des impacts écologiques qui y sont liés.

La soirée se terminera avec un apéritif dînatoire, excellente occasion d’échanger en tant que professionnel.le.s, futurs-professionnel.le.s ou passionné.e.s du domaine de l’informatique et des nouvelles technologies."
 :description2 "<h2><span style=\"color:red\">Certificat Covid obligatoire pour la participation à cette soirée.</span></h2>"
 :inscriptions1 "<strong>Cet événement est ouvert à toutes et à tous et est bien entendu gratuit !</strong><br />
Pour des raisons d'organisation, nous vous prions de vous inscrire par le biais du formulaire ci-dessous"
 :contact-form-id 3429
 :speakers {:helisoa {:name "Helisoa Randrianasolo"
                      :role "Bachelor en Informatique de gestion"
                      :picture "-"
                      :company "HEG Arc"
                      :company-url "https://www.he-arc.ch/gestion/bachelor-ig"
                      :company-logo "https://api-ne.ch/wp-content/uploads/2019/03/GES-MAN3-MOD001-logo-couleur-cmyk-e1561036634965.jpg"
                      :linkedin "https://www.linkedin.com/in/robinwyss/"}
            :robin {:name "Robin Wyss"
                    :role "Sales Engineer"
                    :picture "https://api-ne.ch/wp-content/uploads/2021/10/robin-wyss.jpeg"
                    :company "Dynatrace"
                    :company-url "https://www.dynatrace.fr"
                    :company-logo "https://api-ne.ch/wp-content/uploads/2021/10/dynatrace_logo_web-e1634153834998.png"
                    :linkedin "https://www.linkedin.com/in/robinwyss/"}
            :vincent {:name "Vincent Bozzo"
                      :role "Co-Founder"
                      :picture "https://api-ne.ch/wp-content/uploads/2021/10/vincent-bozzo.jpeg"
                      :company "Matchmore SA"
                      :company-url "https://matchmore.io/"
                      :company-logo "https://api-ne.ch/wp-content/uploads/2021/10/matchmore-e1634154671811.jpeg"
                      :linkedin "https://www.linkedin.com/in/vbozzo/?originalSubdomain=ch"}
            :ivan {:name "Ivan Mariblanca Flinch"
                   :role "Fondateur Canopé & Institut du numérique responsable (INR)"
                   :picture "https://api-ne.ch/wp-content/uploads/2021/10/ivan.png"
                   :company "Canope"
                   :company-url "https://canope.net/"
                   :company-logo "https://api-ne.ch/wp-content/uploads/2021/10/canope-e1634670524188.png"}}
 :program [{:hour "18h00"
            :title "Accueil – mot de bienvenue"}
           {:hour "18h05"
            :title "Adopter des approches SRE avec Keptn"
            :description "Dynatrace est à l’origine du projet open source Keptn, qui a pour but de connecter et d’automatiser le continuous delivery et le monitoring. En se basant sur des standards comme les Cloud Events et en utilisant une approche « GitOps », Keptn permet de connecter les différents outils utilisés pour les déployments, les tests, le monitoring d’une manière déclarative et de mettre en place des contrôles de qualités (quality gates) et des systèmes de remédiation (auto remediation).

                      En tant que Solution Engineer chez Dynatrace, j’aide nos clients à mettre en place le monitoring, qui permet de surveiller la performance, la disponibilité et la sécurité de leurs systèmes et applications"
            :speaker :robin}
           {:hour "18h40"
            :title "Matchmore SA"
            :description "We provide to developers an abstract programming layer for context awareness between smart connected devices and client applications. Our cloud service provides developers of mobile applications with SDKs and tools to ease the integration of location-based and proximity features in their apps.

Matchmore is a result of several research projects from the innovation lab DOPlab, at HEC Lausanne (University of Lausanne). The DOPlab is actively investigating how to better support the next generation of distributed systems, which will have to cope with extreme mobility and ubiquity requirements. The history of the technology goes back to 2006, and the company was founded in the beginning of the year 2017."
            :speaker :vincent}
           {:hour "19h10"
            :title "Petite pause"}
           {:hour "19h30"
            :title "Conférence - Travail de Bachelor"
            :description "<i>Connecté, pressé, curieux et actif</i>

La crise sanitaire a fortement impacté le secteur touristique, qui s’est vu relever de nouveaux défis. Outre la prise de position des technologies numériques dans cette industrie et ses acteurs, la pandémie a remis en cause ses composants, notamment le déplacement physique. De ces faits, l’Organisation mondiale du tourisme (OMT) mise sur l’usage des technologies numériques afin de redresser le secteur.

La recherche d’une nouvelle approche touristique qui tire profit des technologies numériques. Elle se base sur le constat de l’influence du numérique ainsi que les enjeux actuels du secteur touristique. Elle est ensuite évaluée auprès d’un focus groupe."
            :speaker :helisoa}
           {:hour "19h45"
            :title "La digitalisation et son impact carbone"
            :description "Les organisations se digitalisent à très grande vitesse (Cloud, Télétravail, Big Data, Intelligence Artificielle, etc.). Une organisation non digitalisée est une organisation sans futur. La digitalisation fait gagner du temps, de l'argent et du confort de travail. Mais qu'en est-il de l'impact environnemental du numérique dans les organisations ? Est-ce que la digitalisation accélère ou freine l'atteinte de la neutralité carbone tant annoncée ?

Se digitaliser équivaut souvent à augmenter son parc informatique. Or, acheter, utilser et recycler des équipements électroniques a un grand impact environnemental. Celui-ci est souvent négligé dans le bilan environnemental des organisations.

Pourquoi les organisations les plus avancées dans leurs domaines d'activités se tournent déjà vers une utilisation plus responsable de leur parc numérique ? C'est parce que cela fait gagner davantage d'argent ? De temps ? De confort ? Les 3 ?

Si vous avez lu jusqu'ici, c'est que cette thématique vous intéresse. Cette conférence vous permettra de comprendre simplement le rôle du numérique dans le plan de développement durable des organisations. Vous apprendrez aussi des bonnes habitudes numériques pour réduire l'empreinte environnementale de son organisation."
            :speaker :ivan}
           {:hour "20h15"
            :title "Apéritif dînatoire"}]
 :pictures ["https://api-ne.ch/wp-content/uploads/2020/03/DSC02021.jpg"
            "https://api-ne.ch/wp-content/uploads/2020/03/DSC02006.jpg"
            "https://api-ne.ch/wp-content/uploads/2020/03/DSC02025_v2.jpg"]}
